.catagory_card{
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,0.2);
}
.catagory_card img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}
.catagory_card a{
    text-decoration: none;
    color: rgb(35, 35, 35);
}

.catagory{
    position: relative;
    margin-top: -20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}