.catagory_card{
    height: 270px;
    width: 270px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0 ,0.2);
}
.catagory_card img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
    
    
}
.catagory_card a{
    text-decoration: none;
    color: rgb(35, 35, 35);
}

.catagory_card h2,.catagory_card p{
    padding: 15px;
    margin-left: 40px;
}
.catagory_card p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(9,132,209);
}
.catagory{
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    max-width: 1600px;
    place-items: center;
    gap: 10px;
}